SideBar {
  position: fixed;
  height: 1000px;
}
.addUserdata {
  margin-top: 10rem;
  margin-left: 10rem;
  height: 500px;
  width: 1000px;
  justify-content: center;
  position: fixed;
}
.addUser {
  background-color: #c2dbeb;
  padding: 1%;
  /* background-color: rgb(22, 112, 222); */
  width: 500px;
  height: 500px;
  margin-top: 6rem;
  margin-left: 20rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: -11px 19px 25px -11px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -11px 19px 25px -11px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -11px 19px 25px -11px rgba(0, 0, 0, 0.64);
}
.userinputs {
  display: flex;
  flex-direction: column;
}
