.table {
  margin-left: 10rem;
  height: 70%;
  width: 67%;
  justify-content: center;
  position: fixed;
}
.thead-dark {
  background-color: black;
  height: 50px;
}
.addbutton {
  margin-left: 82rem;
  width: 150px;
  height: 100px;
  background-color: rgb(15, 215, 255);
  color: rgb(255, 255, 255);
}
