.frontpage {
  display: flex;
  background-image: url("../frontimage.jpg.jpg");

  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  position: fixed;
  min-width: 101%;
  min-height: 100%;
  margin-top: 6.3rem;
  margin-left: -17.4rem;
}

.firstbutton {
  /* display: flex; */
  flex-direction: column;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 49rem;
  margin-top: 10rem;
}
.customerbutton {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
Link {
  text-decoration: none;
}
a:link,
a:visited {
  color: white;

  text-align: center;
  text-decoration: none;
}
a:hover,
a:visited {
  color: hotpink;
}
